body{
    padding: 20px;
}

a{
    color: black;
}

a:hover{
    color: #111;
}

#logout_btn{
    display: inline-block;
    position: fixed;
    right: 20px;
    top: 10px;
}

.time_input{
    width: 350px;
}

.times_table{
    width: 450px;
    border-collapse: collapse;   
}

.login{
    margin-left: 40%;
    margin-top: 10%;
}

.logo{
    width: 100px;
    height: auto;
    position: fixed;
    top: 10px;
    right: 80px;
}

.jumbotron{
    padding-left: 20px;
}

.main_menu{
    display: flex;
    align-items: center;
}

.choice{
    align-self: center;
    background-color:navajowhite;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.choice:hover{
    background-color:rgb(235, 178, 93);
    cursor: pointer;
}

.container{
    margin-left: -10px;
}