body{
    padding: 20px;
}

#logout_btn{
    display: inline-block;
    position: fixed;
    right: 10px;
    top: 10px;
}

.time_input{
    width: 350px;
}

.times_table{
    width: 450px;
    border-collapse: collapse;   
}