{% extends "layout.html" %}
{% block content %}

    <div class="jumbotron">
        <h1>Welcome to the Dream Deferred API Admin Tool</h1>
        <p>This tool is designed to help you manage the Dream Deferred API environment.</p>
    </div>
    <p>{{ message }}</p>
    <br>
    <div class="container">
        <form method="POST">
            <div class="row">         
                <div class="col col-md-3 choice">
                    <h2>User management</h2>
                </div>
                <div class="col col-md-3 choice">
                    <h2>Class times</h2>
                </div>
                <div class="col col-md-3 choice">
                    <h2>Job board</h2>
                </div>
            </div>
        </form>
    </div>




</div>
{% endblock %}