{% extends "layout.html" %}
{% block content %}
<div>
    <p>{{ message }}</p>
    <br>
    <a href="{{url_for('home')}}"><button class="btn btn-primary">Back</button></a>
    <br>
    <form method="POST">
        <table class="table times_table"  width="400px">
            <tr><th><h3>Job Board</h3></th><th></th></tr>
            {% for time in times %}
            <tr><td><input name="input_{{time[0]}}" class="time_input" type="text" name="" value="{{time[1]}}"></td><td><button value="{{time[0]}}" name="id" class="btn btn-info">Update</button></td></tr>
            {% endfor %}
        </table>
    </form>


</div>
{% endblock %}