{% extends "layout.html" %}
{% block content %}
<div>
    <p>{{ message }}</p>
    <br>
    <a href="{{url_for('home')}}"><button class="btn btn-primary">Back</button></a>
    <a href="{{url_for('new_job')}}"><button class="btn btn-success">New</button></a>
    <a href="https://harri.com/jobs" target="_blank"><button class="btn btn-warning">Harri</button></a>

    <br>
    <form method="POST">
        <table class="table times_table"  width="400px">
            <tr><h3>Job Board</h3></tr>
            <tr><th>id</th><th>description</th><th>link</th><th>new description</th></tr>
            {% for job in jobs %}

            <tr>
                <td>{{job[0]}}</td><td>{{job[1]}}</td><td>{{job[2]}}</td>
            
                <td>
                    <input type="text" name="input_{{job[0]}}" id="description" value="{{job[1]}}"> 
                </td>
                <td><button name="action" value="upd-{{job[0]}}" class="btn btn-info">Update</button></td>
                <td><button name="action" value="del-{{job[0]}}" class="btn btn-danger">Delete</button></td>
            </tr>
            {% endfor %}
        </table>
    </form>


</div>
{% endblock %}